<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        
    </head>
    <body>
        <%- include("header.ejs") %>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi facilis dicta sint, doloremque asperiores, qui vel consequatur cumque aspernatur quas praesentium voluptatum numquam ipsum. Facilis iure earum sapiente reiciendis cupiditate nesciunt, voluptates maiores fugit et voluptas commodi delectus praesentium alias veniam blanditiis unde laudantium temporibus corrupti natus perspiciatis, nobis magni mollitia expedita! Officiis rerum, aspernatur id nemo sit non dolor itaque vitae molestias sapiente eligendi. Iusto, fuga provident. Esse cumque nemo velit. Possimus nostrum at nisi excepturi consequatur eaque tempore id, nam natus ullam commodi laboriosam cumque modi alias quo hic necessitatibus consectetur ad sunt reiciendis dolor. Nobis, nesciunt quisquam.
                <h1>about</h1>
            </p>
        <%- include("footer.ejs") %>
    </body>
</html>
